In [7]:
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver import chrome
from selenium.common.exceptions import *
import datetime
from webdriver_manager.chrome import ChromeDriverManager

In [8]:
jobs={"roles":[],
     "companies":[],
     "locations":[],
     "Dates":[],
     "salary":[],
     }

In [9]:
MAX_PAGE_NUM = 5
MAX_PAGE_DIG = 3
#driver = webdriver.Chrome(r'C:\Users\Patil\Downloads\chromedriver_win32\chromedriver.exe')
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Driver [C:\Users\Patil\.wdm\drivers\chromedriver\win32\99.0.4844.51\chromedriver.exe] found in cache
<ipython-input-9-e0cca5f90367>:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [10]:
for i in range(1, MAX_PAGE_NUM+1):
    page_num = (MAX_PAGE_DIG - len(str(i))) * "0" + str(i)
    #url="https://www.naukri.com/data-scientist-jobs-"+page_num+"?k=data%20scientist"
    url = "https://www.naukri.com/software-developer-software-engineer-graphic-designer-data-analyst-data-scientist-business-analyst-hr-manager-project-engineer-project-manager-qa-lead-jobs-"
    driver.get(url)
    time.sleep(1)
    lst=driver.find_elements_by_css_selector(".jobTuple.bgWhite.br4.mb-8")
    posting_date = datetime.datetime.today().strftime('%Y-%m-%d')
    
    for job in lst:
    
        try:
            role=job.find_element_by_css_selector("a.title.fw500.ellipsis").text
            company=job.find_element_by_css_selector("a.subTitle.ellipsis.fleft").text
            location=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.location").text
            salaries=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.salary").text
            #date=job.find_element_by_css_selector(".type.br2.fleft.grey").text
            posting_date=job.find_elements_by_css_selector(".fleft.fw500")
            #print(posting_date[-1].text)
        except NoSuchElementException:
             pass
            
        
        jobs["roles"].append(role)
        jobs["companies"].append(company)
        jobs["locations"].append(location)
        jobs["salary"].append(salaries)
        jobs["Dates"].append(posting_date[-1].text)

<ipython-input-10-a20dc2b79c02>:7: DeprecationWarning: find_elements_by_css_selector is deprecated. Please use find_elements(by=By.CSS_SELECTOR, value=css_selector) instead
  lst=driver.find_elements_by_css_selector(".jobTuple.bgWhite.br4.mb-8")
c:\users\patil\appdata\local\programs\python\python39\lib\site-packages\selenium\webdriver\remote\webelement.py:484: UserWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  warnings.warn("find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead")
c:\users\patil\appdata\local\programs\python\python39\lib\site-packages\selenium\webdriver\remote\webelement.py:502: UserWarning: find_elements_by_css_selector is deprecated. Please use find_elements(by=By.CSS_SELECTOR, value=css_selector) instead
  warnings.warn("find_elements_by_css_selector is deprecated. Please use find_elements(by=By.CSS_SELECTOR, value=css_selector) instead")

In [11]:
df1=pd.DataFrame(jobs)
df1

,roles,companies,locations,Dates,salary
0,Data Analyst/ Scientist,Anicalls,Noida,3 DAYS AGO,Not disclosed
1,Power Bi Developer / data analyst / data scien...,Leading US MNC analytics company,"Noida, Gurgaon/Gurugram, Delhi / NCR",1 DAY AGO,"7,00,000 - 15,00,000 PA."
2,"Business Analyst, Noida",Netcomm Labs Pvt. Ltd.,"Noida, Delhi / NCR",3 DAYS AGO,"2,25,000 - 4,00,000 PA."
3,Business Analyst (Sales) - B.Tech/ MBA from Ti...,BYJUS,Noida,8 DAYS AGO,Not disclosed
4,"Data Analyst, ENR Business Analytics",IHS Markit,Gurgaon/Gurugram,30+ DAYS AGO,Not disclosed
...,...,...,...,...,...
95,"Senior Data Analyst - Python, VBS, MySQL, Tabl...",GRAMEEN FOUNDATION FOR SOCIAL IMPACT,Delhi / NCR,2 DAYS AGO,"14,00,000 - 16,00,000 PA."
96,Java Software Developer,JIVA AYURVEDIC PHARMACY LTD.,Faridabad,1 DAY AGO,Not disclosed
97,Senior Data Engineering Analyst,Optum,Noida,2 DAYS AGO,Not disclosed
98,Senior Data Analyst,LifeWorks,Gurgaon/Gurugram,2 DAYS AGO,Not disclosed
99,Data Analyst / Business Analyst,Right Step Consulting,Gurgaon,30+ DAYS AGO,Not disclosed

In [12]:
df1.to_csv('naukri.csv',index=False)

### let me know what else we need