In [2]:
import requests
from selenium import webdriver
from bs4 import BeautifulSoup
import time
import pandas as pd
import re
from datetime import date,timedelta
from webdriver_manager.chrome import ChromeDriverManager

In [6]:
title=[]
salary=[]
location=[]
company=[]
posting=[]
driver = webdriver.Chrome(ChromeDriverManager().install())

for x in range(500):
    url = "https://www.naukri.com/software-developer-software-engineer-graphic-designer-data-analyst-data-scientist-business-analyst-hr-manager-project-engineer-project-manager-qa-lead-jobs-"+str(x)+"?k=Software%20Developer%2C%20Software%20Engineer%2C%20Graphic%20Designer%2C%20Data%20Analyst%2C%20Data%20Scientist%2C%20Business%20Analyst%2C%20HR%20Manager%2C%20Project%20Engineer%2C%20Project%20Manager%2C%20QA%20Lead"
    driver.get(url)
    time.sleep(1)
    soup = BeautifulSoup(driver.page_source, 'html5lib')
    results = soup.find('div',class_='list')

    for a in results.find_all('article',class_='jobTuple bgWhite br4 mb-8'):
        Title=a.find('a', attrs={'class':'title fw500 ellipsis'})
        Salary=a.find('li', attrs={'class':'fleft grey-text br2 placeHolderLi salary'})
        Location=a.find('li', attrs={'class':'fleft grey-text br2 placeHolderLi location'})
        CompanyName=a.find('a',attrs={'class':'subTitle ellipsis fleft'})
        PostingDate=a.find('div', class_='jobTupleFooter mt-20')
    
        title.append(Title.text)
        salary.append(Salary.text)
        location.append(Location.text)
        company.append(CompanyName.text)
        posting.append(PostingDate.text)
driver.close()

<ipython-input-6-173ffc4a619d>:9: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\ABC\Downloads\chromedriver.exe')

In [7]:
df = pd.DataFrame({"Title":title,"CompanyName":company,"Salary":salary,"PostingDate":posting,"Location":location})
df

,Title,CompanyName,Salary,PostingDate,Location
0,Software Developer,WINMAN SOFTWARE INDIA LLP,"3,50,000 - 6,00,000 PA.",FEATURED3 Days Agosave,"Mangaluru/Mangalore, Udupi, Dakshina Kannada"
1,Business Data Analyst,Incuspaze Solutions Private Limited,Not disclosed,4 Days Agosave,"Mumbai, Indore, New Delhi, Lucknow, Gurgaon/Gu..."
2,Looking For A Full Time Business Analyst,Blockseed Consultancy Private Limited,"3,00,000 - 5,00,000 PA. (Including Variable: 2...",HOT JOB1 Day Agosave,Indore(WFH during Covid)
3,Professional 2 Business Analyst,DXC Technology,Not disclosed,8 Days Agosave,Indore
4,Software Development Engineer,Phonon Communications Private Limited,"7,00,000 - 10,00,000 PA.",HOT JOBTodaysave,"Indore, Vadodara"
...,...,...,...,...,...
2617,"Senior Front-End Developer, Software Development","Ryan, LLC.",Not disclosed,7 Days Agosave,remote
2618,PHP Laravel Developer,PinnacleWorks Infotech (P),"4,00,000 - 8,00,000 PA.",HOT JOB10 Days Agosave,Gurgaon/Gurugram
2619,"Back End and Front End Developer Node Js, Reac...",Drifly Technologies Private Limited,Not disclosed,HOT JOB13 Days Agosave,Gurgaon/Gurugram
2620,Php Developer,Softcell Technologies Global Private Ltd,Not disclosed,HOT JOB13 Days Agosave,"Mumbai Suburban, Thane, Navi Mumbai, Mumbai (A..."
2621,Senior Web Developer,QLICLABS TECHNOLOGIES PRIVATE LIMITED,"5,00,000 - 7,00,000 PA.",HOT JOB13 Days Agosave,"Mangaluru/Mangalore, Bangalore/Bengaluru(WFH d..."

In [8]:
df.duplicated().sum()

129

In [9]:
df.to_csv('naukri.csv',index=False)